@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #000;
}
:root{
    --font-size: 1.5em;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    width: 100vw;
    height: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.logo{
    width: auto;
    height: 60px;
    margin-left: 5%;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20%;
    height: 15vh;
    margin-right: 1%;
    border-radius: 30%;
}
.nav li:first-child{
    margin-right: 1%;
}
.nav li a:hover{
    color:#fd4766;
}
.nav li a{
    display: inline-block;
    color: #000;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}  
.nav li a::after{
    background-color: #fd4766;
    display: block;
    content:"";
    height: 3px;
    width: 0%;
    --webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    bottom: 0;
}
.nav li a:hover:after,
.nav a:focus:after{
    width: 100%;
}

.resume{
    margin-right: 4%;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    color: #fff;
    font-size: var(--font-size);
}
.resume:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.main{
    height: 75%;
}
.main img{
    width: 25%;
}
.main p{
    
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main p{
    color: #000;
}